
*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.body{
    width: 100%;
}

a {text-decoration: none;}
a:link, a:visited { color: black;}
a:hover, a:active {color: #ffc107;}

input:focus, a:focus,button:focus{
    outline: none;
}



/* //////////////////////////////////////////topheader////////////////////////////////////////////// */

.top-header{
  padding: 20px;
  text-align: center;
  background-color: bisque;
  height: 5vh;
  position: fixed;
  width: 100%;
}

.top-header ul{
    margin-top: 4px;
    float: right;
    display: inline-flex;
    list-style: none;
}
.top-header ul li{
    padding: 0 17px;
    
}

.search{
    float: right;
    padding-right: 30px;
}
.logo {
    float: left;
    margin: -9px 0px;
    font-size: x-large;
}
span{
    color: #ffc107;
}
.input-top{
    margin: 0px;
    font-size: 12px;
    border-radius: 12px;
    color: black;
    padding: 5px;
    width: 165px;
    font-family: cursive;
    font-weight: bold;
}
.button-top{
    width: 71px;
    height: 31px;
    border: solid orange 2px;
    border-radius: 12px;
    padding: 2px;
}

 .button-top:hover,.button-top:active
{
    color: white;
    background-color: burlywood;
} 


/* //////////////////////////////////////////header////////////////////////////////////////////// */
.content-header{
    width: 100%;
    height: 80vh;
    background-image: url(../img/dessin-musculation-645.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}

.souscrire{
    margin: 174px 119px;
    
}
 .input-header{
    width: 16%;
    height: 80%;
    border: solid orange 2px;
    border-radius: 12px;
    padding: 8px;
} 

.button-header{
    font-size: 14px;
    background-color: bisque;
    border-radius: 12px;
    color: black;
    box-shadow: 2px 2px 4px black;
    padding: 5px;
    width: 182px;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
}



/* //////////////////////////////////////////topcontainer////////////////////////////////////////// */
.services{
     text-align: center;
     margin: 15px;
}

.section-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 4px;
    grid-row-gap: 48px;
    margin: 11px 0px 0px 57px;
    
}
.art-main{
    
    border-radius: 15px;
    border: 1px solid wheat;
    width: 72%;
}
.art-main img{
    margin: 4px 57px;
}
.art-main h5{
    text-align: center;
}
.art-main button{
    margin: 6px 92px;
}
.art-main:hover {border: 2px solid burlywood;}
.art-main:hover, .art-main:active {color: #ffc107;}

.btn1{
    font-size: 15px;
    background-color: bisque;
    border-radius: 12px;
    color: black;
    padding: 5px;
    width: 93px;
    font-weight: bold;
    font-style: italic;
    margin: 6px 104px;
}

/* //////////////////////////////////////////maincontainer////////////////////////////////////////////// */
.main-section{
    margin-top: 100px;
    text-align: center;
    margin-top: 20px;
    width: 45%;
    float: right;
    height: 70vh;
    background-color: #ffc107;
}
.main-section h5{
    color: white;
    margin: 50px;
    font-size: 42px;
}
.image{
    width: 55%;
    position: absolute;
    margin-top: 20px;
    z-index: -1;
    min-height: 70vh;
    background-image:url(../img/artr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:  fixed;
    align-items :center;
}

/* //////////////////////////////////////////bottomcontainer////////////////////////////////////////////// */
.buttoncontainer{
    height: 80vh;
    width: 100%;
    background-image: url(../img/photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form{
    background-color: rgba(255,254,255,0.7);
    padding: 2rem 1rem;
    margin-top: 60px;
    width: 31%;
    height: 50vh;
    margin-left: 69px;
}

.info{
    
}
.one
{
 width: 80%;
 height: 80%;
 border: solid orange 2px;
 border-radius: 12px;
 padding: 8px;
}
.two
{
 width: 80%;
 padding: 8px;
 height: 100%;
 border-radius: 12px;
 border: solid orange 2px;
}
.btn
{
    font-size: 20px;
    background-color: bisque;
    border-radius: 12px;
    color:black;
    box-shadow: 2px 2px 4px black;
    padding:5px;
    width: 100px;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
}
/* .btn:hover,.btn:active
{
    color: burlywood;
    background-color: darkcyan;
} */

/* //////////////////////////////////////////////footer////////////////////////////////////////////////// */
footer{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 51px;
    margin-top: 26px;
}

.adress
{
    width: 76%;
}
h3{
    color: black;
    text-transform: uppercase;
}
.adress a{
    display: flex;
    color: #fff;
    margin: 15px 0;
    align-items: center;
    text-decoration: none;
}

.newsletter
{
    width: 50%;
}

.newsletter form input{
    border: none;
    background-color: #fff;
    width: 70%;
    padding: 7px 10px;
}

.newsletter form button {
    border: none;
    background-color: bisque;
    color:black;
    font-size: 14px;
    padding: 8px 15px;
    margin-top: 15px;
    text-transform: uppercase;
}

.social_container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.newsletter a
{
    text-decoration: none;
    color: #760001;
}

.copyright {
    background-color: bisque;
    padding: 20px 0;
    font-family: "Roboto", sans-serif;
}

.copyright p {
    color: black;
    margin: auto;
    text-align: center;
}


